$header-font: font-family, 'Merriweather', serif;
$body-font:font-family, 'Montserrat', sans-serif;
$primary-blue: #0070F1;
$secondary-blue: #70C4FF;

body {
  background-color: #E7EBEB;
}

#spaceTop img {
  width: 100%;
  height: 400px;
}

/* Ultra Wide */
@media (min-width: 1920px){
  .grid-container{
    display: grid;
    width: 1920px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            '. header header header .'
            '. bottomLeft bottomRight bottomRight .';
  }
}


/* Computer*/
@media (min-width: 1132px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            '. header header header .'
            '. bottomLeft bottomRight bottomRight .';
  }
}

// Grid

.grid-header{
  grid-area: header;
  background-color: #ffffff;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.75);
}
.grid-bottom-left{
  grid-area: bottomLeft;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.75);
}

.grid-bottom-right{
  grid-area: bottomRight;
  background-color: #ffffff;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.75);
}
// Grid ovanför



// grid-header
.header {
  padding: 10px 20px 10px 20px;
}


// grid-bottom-left
.meny {
  background-color: #42464B;
  color: #EEEEEE;
  width: 340px;
  font-size: 180%;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 20px 5px 20px;
  text-align: center;
  padding: 10px;
}
.meny:hover {
  background-color: #666666;
}


// grid-bottom-right
.tableCss {
  font-weight: bold;
  width: 120px;
}
.hiddenAccordion{
  display: none;
}
.showAccordion{
  display: block;
}
.ui-menu {
  z-index: 2;
}
.rubrik{
  font-weight: bold;
}
/* unvisited link */
.lankar:link {
  color: #0070F1;
  text-decoration: none;
}
/* visited link */
.lankar:visited {
  color: #0070F1;
  text-decoration: none;
}
/* mouse over link */
.lankar:hover {
  color: #3E55FF;
  text-decoration: none;
}