@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat");
html, body {
  background-color: #FAFFFF;
  overflow-x: hidden;
}

.index-grid-container h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.index-grid-container h4 {
  margin-bottom: 10px;
}
.index-grid-container article {
  margin: 0 10px 10px 10px;
}
.index-grid-container img {
  width: 100%;
  height: auto;
}
.index-grid-container a {
  text-decoration: none;
}

.main-container {
  grid-column: 1/11;
}

.read-more-button {
  border: 2px #0070F1 solid;
  border-radius: 3px;
  margin-top: 10px;
  padding: 7px;
  text-align: center;
  font-family: font-family, "Merriweather", serif;
  color: #FAFFFF;
  background-color: #0070F1;
  transition: all 0.2s;
}
.read-more-button a {
  color: #FAFFFF;
  text-decoration: none;
}

.read-more-button:hover {
  background-color: #FAFFFF;
  color: #0070F1;
  cursor: pointer;
}

.read-more-button:hover a {
  color: #0070F1;
}

.datum-desktop {
  display: none;
}

.top-image {
  background: url("../img/campus-entry-400-dark.jpg") no-repeat center;
  height: 400px;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
  color: #FAFFFF;
}

.top-image p {
  position: relative;
  top: 20%;
  margin: 0 20% 0 5%;
  padding: 10px;
}

.top-image h3 {
  position: relative;
  top: 20%;
  margin: 0 20% 0 5%;
  padding: 10px 10px 0 10px;
}

.news-pictures {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
}

.index-year {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.course-image {
  height: 120px;
  box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
  color: #FAFFFF;
}
.course-image h4 {
  position: relative;
  top: 10%;
  margin: 0 5% 0 5%;
}
.course-image p {
  position: relative;
  top: 10%;
  margin: 0 5% 0 5%;
}

.course-img1 {
  background: url("../img/courses1.jpg") no-repeat center;
}

.course-img2 {
  background: url("../img/courses2.jpg") no-repeat center;
}

.course-img3 {
  background: url("../img/courses3.jpg") no-repeat center;
}

.course-img4 {
  background: url("../img/courses4.jpg") no-repeat center;
}

.course-img5 {
  background: url("../img/courses5.jpg") no-repeat center;
}

.course-img6 {
  background: url("../img/courses6.jpg") no-repeat center;
}

.course-img7 {
  background: url("../img/courses7.jpg") no-repeat center;
}

.course-img8 {
  background: url("../img/courses8.jpg") no-repeat center;
}

/* TABLETS */
@media (min-width: 768px) {
  html, body {
    background-color: #E7EBEB;
  }

  .index-grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(30px, auto);
  }

  .main-container {
    grid-column: 3/9;
    display: grid;
    background-color: #FAFFFF;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(30px, auto);
    margin-bottom: 15px;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
  }

  .index-news-container {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: minmax(30px, auto);
  }

  .grid-column-all {
    grid-column: 1/11;
  }

  .grid-column-center-all {
    grid-column: 3/9;
    margin: 10px 10px 10px 10px;
  }

  .grid-column-left {
    grid-column: 1/6;
    padding: 10px 10px 10px 10px;
  }

  .grid-column-center {
    grid-column: 6/11;
    padding: 10px 10px 10px 10px;
  }

  .grid-news-1 {
    grid-column: 1/4;
  }
  .grid-news-1 img {
    width: 100%;
    height: 170px;
  }

  .grid-news-2 {
    grid-column: 4/7;
  }
  .grid-news-2 img {
    width: 100%;
    height: 170px;
  }

  .grid-news-3 {
    grid-column: 7/10;
  }
  .grid-news-3 img {
    width: 100%;
    height: 170px;
  }

  .grid-row-3 {
    grid-row: span 3;
  }

  .datum-mobile {
    grid-column: 1/11;
  }

  .dates-toggle {
    display: block;
    position: relative;
    top: 7px;
    left: 93%;
  }
  .dates-toggle :hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #0070F1;
  }

  .dates {
    display: block;
  }

  .top-image {
    margin-bottom: 15px;
  }
  .top-image p {
    top: 40%;
    margin: 0 40% 0 5%;
  }
  .top-image h3 {
    top: 40%;
    margin: 0 40% 0 5%;
  }
}
/* DESKTOP */
@media (min-width: 1132px) {
  .datum-desktop {
    display: block;
    position: sticky;
    top: 160px;
    grid-column: 9/11;
    grid-row: 2/span 2;
    max-height: 350px;
    background-color: #FAFFFF;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
    padding: 0 10px 0 10px;
  }
  .datum-desktop h4 {
    margin-top: 15px;
  }
  .datum-desktop li {
    margin-top: 10px;
  }

  .datum-mobile {
    display: none;
  }
}

/*# sourceMappingURL=indexstyle.css.map */
