.alignment {
  grid-area: gridalignment;
}

.bookmark {
  grid-area: gridbookmark;
}

.div-container-java li {
  margin-top: 10px;
}

.bookmark-javatext {
  padding-left: 0px;
  padding-right: 0px;
}

html {
  scroll-behavior: smooth;
}

.bookmark-javatext1 {
  background: url("../img/java-programmering.png") no-repeat 25%;
}

img {
  width: 108%;
}

.grid-img-text {
  grid-column: 2/3;
}
.grid-img-text h3 {
  margin-top: 30px;
}

.alignment {
  display: none;
}

.read-more-button {
  border: 2px #0070F1 solid;
  border-radius: 3px;
  margin-top: 10px;
  padding: 7px;
  width: 100%;
  text-align: center;
  font-family: font-family, "Merriweather", serif;
  color: #FAFFFF;
  background-color: #0070F1;
  transition: all 0.2s;
}
.read-more-button a {
  color: #FAFFFF;
  text-decoration: none;
}

.read-more-button:hover {
  background-color: #FAFFFF;
  color: #0070F1;
  cursor: pointer;
}

.read-more-button:hover a {
  color: #0070F1;
}

.bookmark {
  text-align: center;
}
.bookmark a {
  text-decoration: none;
  color: black;
}
.bookmark p :hover {
  color: blue;
}
.bookmark ul {
  padding: 0px;
  text-align: center;
}
.bookmark li {
  display: inline;
  margin: 10px;
  list-style-type: none;
}
.bookmark li p {
  display: inline-block;
  margin-top: 15px;
}

.java-text {
  grid-area: javatext;
  margin-bottom: 50px;
  background-color: white;
}
.java-text p {
  margin-top: 15px;
}
.java-text .information {
  margin-left: 15px;
  padding-top: 75px;
  margin-top: -20px;
}
.java-text ul {
  margin-left: 15px;
  list-style-type: none;
}

.bold {
  padding-top: 10px;
  font-weight: bold;
}

.java-picture {
  background: url("../img/java-programmering.png") no-repeat 25%;
  height: 400px;
}

/*Tablet*/
@media (min-width: 768px) {
  body {
    background-color: rgba(231, 235, 235, 0.9);
  }

  .div-container-java {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: ". bookmark-javatext bookmark-javatext bookmark-javatext bookmark-javatext bookmark-javatext bookmark-javatext bookmark-javatext bookmark-javatext .";
  }

  .bookmark-javatext {
    margin-top: 10px;
    margin-bottom: 20px;
    grid-area: bookmark-javatext;
  }

  .bookmark-javatext {
    margin-top: 10px;
    margin-bottom: 20px;
    grid-area: bookmark-javatext;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
  }
  .bookmark-javatext img {
    margin-left: auto;
    margin-right: auto;
    border: black;
    border-style: solid;
    border: 2px;
  }

  .grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bookmark-javatextbild {
    grid-column: 1/2;
  }

  .courses-img {
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Computer*/
@media (min-width: 1132px) {
  body {
    background-color: rgba(231, 235, 235, 0.9);
  }

  .div-container-java {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "gridalignment bookmark-javatext bookmark-javatext bookmark-javatext .";
  }

  .alignment {
    border-radius: 2px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    margin-top: 10px;
    margin-bottom: 20px;
    top: 150px;
    max-height: 300px;
    max-width: 90%;
    left: 10px;
  }
  .alignment ul {
    margin: 0px 0px 5px 5px;
    padding: 0px;
  }
  .alignment li {
    list-style-type: none;
    margin-left: 15px;
  }
  .alignment li p {
    margin: 10px;
  }
  .alignment a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
  }
  .alignment p :hover {
    color: blue;
  }

  .bookmark-javatext {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". gridbookmark gridbookmark gridbookmark ." "javatext javatext javatext javatext javatext";
    margin-top: 10px;
    margin-bottom: 20px;
    grid-area: bookmark-javatext;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 10px -2px rgba(0, 0, 0, 0.75);
    border-radius: 2px;
  }

  .java-text {
    margin-top: 10px;
  }
  .java-text .information {
    padding-top: 160px;
    margin-top: -100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .java-text .information ul {
    list-style-type: none;
  }

  .grid-img-text {
    grid-column: 2/3;
  }
  .grid-img-text h3 {
    margin-top: 100px;
  }

  .grid-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .bookmark-javatextbild {
    grid-column: 1/2;
  }

  .courses-img {
    margin-top: 10px;
    width: 100%;
    margin-left: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=java.css.map */
