@import "footerheader";
@import "standards";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');

$header-font: font-family, 'Merriweather', serif;
$body-font:font-family, 'Montserrat', sans-serif;
$primary-blue: #0070F1;
$secondary-blue: #70C4FF;

/* MOBILE */


/* TABLETS */
@media (min-width: 768px) {

}
/* DESKTOPS */
@media (min-width: 1132px) {


}