@charset "UTF-8";
body {
  background-color: #E7EBEB;
}

#spaceTop img {
  width: 100%;
  height: 400px;
}

section {
  display: grid;
}

.read-more-button {
  border: 2px #0070F1 solid;
  border-radius: 3px;
  margin-top: 10px;
  padding: 7px;
  text-align: center;
  font-family: font-family, "Merriweather", serif;
  color: #FAFFFF;
  background-color: #0070F1;
  transition: all 0.2s;
}
.read-more-button a {
  color: #FAFFFF;
  text-decoration: none;
}

.read-more-button:hover {
  background-color: #FAFFFF;
  color: #0070F1;
  cursor: pointer;
}

.read-more-button:hover a {
  color: #0070F1;
}

/* Computer*/
@media (min-width: 1132px) and (max-width: 1920px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". header header header ." ". center center center ." ". bottom bottom bottom .";
    padding: 10px;
  }

  .grid-header {
    grid-area: header;
    background-color: #ffffff;
    border-color: #ffffff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
  }

  .grid-bottom-left {
    grid-area: center;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
  }

  .grid-bottom-right {
    grid-area: bottom;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
  }
}
/*Tablet*/
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: ". header header header ." ". center center center ." ". bottom bottom bottom .";
    padding: 10px;
  }

  .grid-header {
    grid-area: header;
    margin-bottom: 10px;
    background-color: #ffffff;
  }

  .grid-bottom-left {
    grid-area: center;
    background-color: #ffffff;
  }

  .grid-bottom-right {
    grid-area: bottom;
    background-color: #ffffff;
  }
}
/*Phone*/
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "header" "center" "bottom .";
    padding: 10px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }

  .grid-header {
    grid-area: header;
    margin-bottom: 10px;
    background-color: #ffffff;
    height: auto;
  }

  .grid-bottom-left {
    grid-area: center;
    background-color: #ffffff;
    height: 400px;
  }

  .grid-bottom-right {
    grid-area: bottom;
    background-color: #ffffff;
    height: auto;
  }
}
.grid-bottom-left div {
  margin-bottom: 10px;
}

.grid-bottom-left ul {
  list-style: none;
}

.grid-bottom-left li::before {
  content: "• ";
  color: red;
}

.grid-bottom-right div {
  margin-bottom: 10px;
}

.header {
  margin: 10px 20px 10px 20px;
}

.header img {
  width: 100%;
}

.row {
  text-align: center;
}

.col-1 {
  float: left;
  margin-bottom: 10px;
  width: 33%;
}

.courseImg img {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.courseText {
  display: none;
  background-color: #FAFFFF;
  color: black;
  text-align: start;
  margin-left: 10px;
  margin-top: 5px;
}

.courseHeader {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.courseStart {
  color: gray;
}

div li {
  margin-left: 20px;
}

#reklamVideo {
  width: 100%;
  background-color: #777620;
}

#annaPraktik {
  float: right;
  width: 40%;
  height: auto;
}

#yrkesHogskolan {
  width: 100%;
}

/*# sourceMappingURL=utbildningar.css.map */
