$header-font: font-family, 'Merriweather', serif;
$body-font:font-family, 'Montserrat', sans-serif;
$primary-blue: #0070F1;
$secondary-blue: #70C4FF;

body {
  background-color: #E7EBEB;
}

#spaceTop img {
  width: 100%;
}

section{
  display: grid;
}

/* Computer*/
@media (min-width: 1132px) and (max-width: 1920px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            '. header header header .'
            '. bottomLeft bottomLeft bottomRight .';
    //background-color: #2196F3;
    padding: 10px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  .grid-header{
    grid-area: header;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0 -1px 5px -1px rgba(0,0,0,0.75);
    margin-bottom: 10px;
  }
  .grid-bottom-left{
    grid-area: bottomLeft;
    background-color: #ffffff;
  }
  .grid-bottom-right{
    grid-area: bottomRight;
    background-color: #ffffff;
    //box-shadow: 0 -1px 5px -1px rgba(0,0,0,0.75);
  }
}

/*Tablet*/
@media (min-width: 768px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            '. header header header .'
            '. bottomLeft bottomLeft bottomRight .';
    padding: 10px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  .grid-header{
    grid-area: header;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  .grid-bottom-left{
    grid-area: bottomLeft;
    background-color: #ffffff;
  }
  .grid-bottom-right{
    grid-area: bottomRight;
    background-color: #ffffff;
  }
}


/*Phone*/
@media (max-width: 768px){
  .grid-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            'header'
            'bottomLeft'
            'bottomRight .';
    padding: 10px;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  .grid-header{
    grid-area: header;
    margin-bottom: 10px;
    background-color: #ffffff;
    height: auto;
  }
  .grid-bottom-left{
    grid-area: bottomLeft;
    background-color: #ffffff;
    height: 400px;
  }
  .grid-bottom-right{
    grid-area: bottomRight;
    background-color: #ffffff;
    height: auto;
  }
}

// Grid

.grid-bottom-left div{
  margin-bottom: 10px;
}
.grid-bottom-left ul{
  list-style: none;
}
.grid-bottom-left li::before{
  content: "• ";
  color: red;
}
.grid-bottom-right div{
  margin-bottom: 10px;
}
// Grid ovanför



// grid-header
.header {
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}
.header img {
  width: 100%;
}
// Troligtvis glömt att ta bort
//.utbildningar {
//  font-size: 120%;
//  text-align: center;
//}
.row {
  // Gör inget ännu
  text-align: center;
}
.col-1 {
  float: left;
  margin-bottom: 10px;
  width: 33%;
}
.courseImg img{
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.courseText{
  font-size: 80%;
  display: none;
  //position: absolute;
  bottom: 0px;
  background-color: #00B252;
  color: white;
  text-align: start;
  //padding: 10px
}
.courseHeader{
  float: left;
  font-weight: bold;
}
.courseTitel{

}
.courseStart{
  color: gray;
}
// grid-header ovanför

// grid-bottom-left
div li{
  margin-left: 20px;
}
#reklamVideo {
  width: 100%;
  background-color: #777620;
}

// grid-bottom-right
#annaPraktik {
  float: left;
  width: 40%;
  height: auto;
}
#yrkesHogskolan {
  width: 100%;
}
h3 {
  font-size: 100%;
}
p {
  font-size: 100%;
}
