$header-font: font-family, 'Merriweather', serif;
$body-font:font-family, 'Montserrat', sans-serif;
$primary-blue: #0070F1;
$secondary-blue: #70C4FF;


section{
  display: grid;
}
// Grid
.grid-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
          '. header header header .'
          '. left center right .'
          '. bottomLeft bottomLeft bottomRight .';
  background-color: #2196F3;
  padding: 10px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.grid-header{
  grid-area: header;
  background-color: #70C4FF;
}
.grid-column-left{
  grid-area: left;
  background-color: #0070F1;
 }
.grid-column-center{
  grid-area: center;
  background-color: #2196F3;
}
.grid-column-right{
  grid-area: right;
  background-color: deepskyblue;
}
.grid-bottom-left{
  grid-area: bottomLeft;
  background-color: dodgerblue;
}
.grid-bottom-left div{
  margin-bottom: 10px;
}
.grid-bottom-left ul{
  list-style: none;
}
.grid-bottom-left li::before{
  content: "• ";
  color: red;
}
.grid-bottom-right{
  grid-area: bottomRight;
}
.grid-bottom-right div{
  margin-bottom: 10px;
}
// Grid ovanför


#spaceTop {
  margin-top: 150px;
}
// grid-header
.header {
  font-size: 150%;
  text-align: center;
  font-weight: bold;
}
// Troligtvis glömt att ta bort
//.utbildningar {
//  font-size: 120%;
//  text-align: center;
//}
.row {
  // Gör inget ännu
}
.col-1 {
  float: left;
  margin-bottom: 10px;
  width: 33%;
}
.courseImg img{
  width: 100%;
}
.courseText{
  font-size: 80%;
  display: none;
  //position: absolute;
  bottom: 0px;
  background-color: #00B252;
  color: white;
  text-align: start;
  //padding: 10px
}
.courseHeader{
  float: left;
  font-weight: bold;
}
.courseTitel{

}
.courseStart{
  color: gray;
}
// grid-header ovanför

// grid-bottom-left
div li{
  margin-left: 20px;
}
#reklamVideo {
  width: 100%;
  background-color: #777620;
}

// grid-bottom-right
#annaPraktik {
  float: left;
  width: 40%;
  height: auto;
}
#yrkesHogskolan {
  width: 100%;
}
